@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

/* width modal */
::-webkit-scrollbar {
   width: 0;
   scrollbar-gutter: unset;
}

/* width */
#chat-history::-webkit-scrollbar {
   width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background-color: #532f7790;
   background-blend-mode: overlay;
   border-radius: 1rem;
   box-shadow: 0 0 6px #1b0d2964;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: #7c5a9fb4;
   transition-delay: 700;
}
